@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;600&family=Noto+Sans+JP:wght@100;200&family=Noto+Sans:ital,wght@0,200;0,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #313131;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  padding: 25px;
  background: #3f3f3f;
  text-align: justify;
  box-shadow: 10px 10px 10px rgba(0, 0, 0.389);
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid transparent;
  border-top: 20px solid #06d62e;
  border-right: 20px solid #06d62e;
}

.img img {
  width: 100%;
}

img {
  margin-bottom: 20px;
}

.content {
  height: 150px;
  overflow: hidden;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent, #3f3f3f);
}

.content h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  position: relative;
}

.content h3::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  background: #06d62e;
  bottom: 100%;
  border-radius: 100px;
}

.content p {
  color: #b7b7b7;
}

#botao {
  background-color: #06d62e;
  color: #313131;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#botao:hover {
  background-color: transparent;
  color: #06d62e;
  transition: all 0.2s ease-in-out;
}

.card.active .content {
  height: auto;
}

.card.active .content::before {
  visibility: hidden;
}

#botao {
  border: none;
  padding: 10px;
  border-radius: 2px;
  margin-top: 15px;
  cursor: default;
  font-size: 16px;
  background: linear-gradient(
    135deg,
    aqua,
    rgb(246, 248, 246),
    rgb(245, 245, 244),
    rgb(231, 235, 235),
    rgb(238, 241, 238),
    rgb(245, 245, 244)
  );
  border-radius: 10px;
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}
